# Prep

In [20]:
import pandas as pd

In [76]:
GOLD_FOLDER = r'C:\Users\User\Documents\GitHub\ap_workouts\b3-gold'
VIEWS_FOLDER = r'C:\Users\User\Documents\GitHub\ap_workouts\b4-views'

# Functions

## Transform

# Extract

In [46]:
df_workouts = pd.read_csv(f"{GOLD_FOLDER}/workouts.csv", sep=";", decimal=',')
df_exercises_log = pd.read_csv(f"{GOLD_FOLDER}/exercises_log.csv", sep=";", decimal=',')
df_exercises_ref = pd.read_csv(f"{GOLD_FOLDER}/exercises_ref.csv")

# Transform

## Single Sets

In [69]:
df_single_sets = (
    df_exercises_log
    .merge(
        df_exercises_ref[['exercise_name', 'muscle_group', 'exercise_group', 'main_muscle']],
        how='left',
        on=('exercise_name')
        )
)

In [70]:
df_single_sets = df_single_sets[[
    'workout_id',
    'exercise_number',
    'exercise_name',
    'equipment',
    'muscle_group',
    'exercise_group',
    'main_muscle',
    'goal',
    'measure',
    'set_number',
    'weight',
    'quantity',
    'volume'
]]

In [71]:
df_single_sets.head()

,workout_id,exercise_number,exercise_name,equipment,muscle_group,exercise_group,main_muscle,goal,measure,set_number,weight,quantity,volume
0,202410301632,1,Leg Press,Machine,Lower Body,Leg Press,Quads,12,reps,1,210.0,15,3150.0
1,202410301632,1,Leg Press,Machine,Lower Body,Leg Press,Quads,12,reps,2,210.0,15,3150.0
2,202410301632,1,Leg Press,Machine,Lower Body,Leg Press,Quads,12,reps,3,210.0,13,2730.0
3,202410301632,2,Leg Curls on Leg Extension Machine,Machine,Lower Body,Leg Curl,Hams,12,reps,1,25.0,12,300.0
4,202410301632,2,Leg Curls on Leg Extension Machine,Machine,Lower Body,Leg Curl,Hams,12,reps,2,25.0,12,300.0

## Complete Sets

In [72]:
df_complete_sets = (
   df_single_sets
   .groupby([
      'workout_id', 
      'exercise_number', 
      'exercise_name', 
      'equipment', 
      'muscle_group', 
      'exercise_group', 
      'main_muscle', 
      'goal', 
      'measure'])
   .agg(
      sets = ('set_number', 'max'),
      min_weight = ('weight', 'min'),
      max_weight = ('weight', 'max'),
      avg_weight = ('weight', lambda x: round(x.mean(), 1)),
      stdev_weight = ('weight', lambda x: round(x.std(), 1)),
      min_quantity = ('quantity', 'min'),
      max_quantity = ('quantity', 'max'),
      avg_quantity = ('quantity', lambda x: round(x.mean(), 1)),
      stdev_quantity = ('quantity', lambda x: round(x.std(), 1)),
      total_quantity = ('quantity', 'sum'),
      total_volume = ('volume', 'sum'))
   .reset_index()
)

In [74]:
#df_complete_sets

## Workouts

# Save

In [77]:
df_single_sets.to_csv(f"{VIEWS_FOLDER}/single_sets.csv", sep=";", decimal=',', index=False)
df_complete_sets.to_csv(f"{VIEWS_FOLDER}/complete_sets.csv", sep=";", decimal=',', index=False)